@page "/pelicula/crear"
@inject NavigationManager navigationManager

<h3>Crear Pelicula</h3>
<FormMovie _Movie="Movie" OnValidSubmit="CreteNewMovie"></FormMovie>

@code {
    private Movie Movie;

    protected override void OnInitialized()
    {
        Movie = new Movie();
    }
    
    void CreteNewMovie()
    {
        //Me duvuelve el dominio en el que estabamos
        Console.WriteLine(navigationManager.Uri);
        
    }
}

 
