@page "/pelicula/editar/{MovieId:int}"

<h3>Edit Movie</h3>

<FormMovie _Movie="Movie" OnValidSubmit="ModifyMovie" 
           NotSeletedGender="NotSelectedGender"
           SeletedGender="SelectedGender"></FormMovie>

@code {
    [Parameter]
    public int MovieId { get; set; }

    Movie Movie;

    private List<Gender> SelectedGender = new List<Gender>();
    private List<Gender> NotSelectedGender = new List<Gender>();

    protected override void OnInitialized()
    {
        Movie = new Movie()
        {
            Id = MovieId,
            Title = "Defaul Title"

        };

        NotSelectedGender = new List<Gender>()
        {
            new Gender() {Id = 2, Name = "Drama"},
            new Gender() {Id = 3, Name = "Accion"},
            new Gender() {Id = 4, Name = "Sci-fi"}
        };

        SelectedGender = new List<Gender>()
        {
            new Gender() {Id = 1, Name = "Comedia"},
        };
    }

    private void ModifyMovie()
    {
        Console.WriteLine("Editando la pelicual por id");
    }
}
