@page "/"
@inject IRepository<Movie> repository
<div>
    <h1>Movies</h1>
    <ListMovie Movies="ListMovies"> </ListMovie>
</div>

<button @onclick="AddMovie">Add</button>

@code{
    private List<Movie> ListMovies;
    protected override void OnInitialized()
    {
        ListMovies = repository.GetMovies();
    }

    void AddMovie()
    {
        ListMovies.Add(
            new Movie() { Title = "Totad", LaunchDate = new DateTime(2019, 7, 2) }
        ); 
    }
}

