@page "/"
@inject IRepository<Movie> repository

<div>
    <h1>Movies</h1>
    <ListMovie Movies="ListMovies"> </ListMovie>
</div>

@code{
    
    private List<Movie> ListMovies;

    protected override void OnInitialized()
    {
        ListMovies = repository.GetMovies();
    }

}

