@page "/"
<div>
    <h3>Movies</h3>
    <ListMovie Movies="GetMovies()">
    </ListMovie>
</div>

@code{
    private List<Movie> GetMovies()
    {
        return null;
        //return new List<Movie>()
        //{
        //    new Movie(){Title = "Spiderman", LaunchDate = new DateTime(2019, 7,2)},
        //    new Movie(){Title = "Moana", LaunchDate = new DateTime(2019, 7,2)},
        //    new Movie(){Title = "Stich", LaunchDate = new DateTime(2019, 7,2)}
        //};
    }
}
