@inject IJSRuntime js

<div style="display: flex; flex-wrap: wrap; align-items: center;">
    <GenericList List="Movies">
        <ExistRegister Context="movie">
            <IndividualyMovie _Movie="movie" EliminateMovie="EliminateMovie"></IndividualyMovie>
        </ExistRegister>
    </GenericList>
</div>

@code {

    [Parameter]
    public List<Movie> Movies { get; set; }

    //Confirmacion con JavaScript
    async Task EliminateMovie(Movie movie)
    {
        //confirm es una funcion predeterminada 
        var confirmado = await js.Confirm($"Desea borrar la pelicula: {movie.Title}?");
        var Log = js.Log();
        if (confirmado)
        {
            Movies.Remove(movie);
            Console.WriteLine($"Se elimino la pelicula:");
        }
    }
}
