@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <CascadingValue Value="@appState">
                    @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code {
    AppsSate appState = new AppsSate();

    public class AppsSate
    {
        public string Color = "red";
        public string Size = "12px";
    }
}
